@import "variables.less";

// grid report
.grid-report .plot {
	margin: 15px;
	display: none;
	height: 300px !important;
	width: 97% !important;
}

.grid-report .ui-widget {
	border: none !important;
	outline: none !important;
	border-top: 1px solid @border-color !important;
	background-color: @light-bg !important;
}

.grid-report .show-zero {
	margin: 10px;
	display: none
}

// column picker
.column-picker-dialog {
	.column-list {
		margin: 15px 0;
		border: 1px solid @border-color;

		.column-list-item {
			padding: 10px;
			border-bottom: 1px solid @border-color;
		}

		.column-list-item:last-child {
			border-bottom: none;
		}

		.sortable-handle {
			cursor: move;
		}

		.sortable-chosen {
			background-color: @light-yellow;
		}

		.fa-sort {
			margin: 0px 7px;
			margin-top: 9px;
			margin-right: -15px;
		}

		.form-control {
			display: inline-block;
			width: 89%;

			@media (max-width: @screen-xs) {
				width: 77%;
			}
		}

		.close {
			margin: 2px 7px 0px;
		}
	}

	.add-btn {
		margin-bottom: 2px;
	}
}

.columns-search {
	margin-bottom: 10px;
}

.report-wrapper, .datatable-wrapper {
	overflow: auto;
}

.chart-container {
	border-bottom: 1px solid @border-color;
}

.groupby-box {
	border-bottom: 1px solid #d1d8dd;
	padding: 10px 15px 3px;

	.remove-groupby {
		margin-top: 6px;
		margin-left: 15px;
	}

	.groupby-field {
		padding-right: 15px;
		width: calc(100% - 36px);

		.frappe-control {
			position: relative;
		}
	}
}

// for sm and above
@media (min-width: @screen-xs) {
	.groupby-box .row > div[class*="col-sm-"] {
		padding-right: 0px;
	}

	.groupby-field {
		width: 65% !important;

		.frappe-control {
			position: relative;
		}
	}
}
@media screen and (min-width:768px) {
	// .profit-and-loss-statement .dt-scrollable .dt-row .dt-cell--col-0,
	// .employee-detail-report .dt-scrollable .dt-row .dt-cell--col-0,
	// .sale-production-dispatch-report .dt-scrollable .dt-row .dt-cell--col-0,
	// .sales-target-analysis .dt-scrollable .dt-row .dt-cell--col-0,
	// .stock-balance .dt-scrollable .dt-row .dt-cell--col-0,
	// .stock-ledger .dt-scrollable .dt-row .dt-cell--col-0{
	// 	position: sticky;
	// 	left: 0px;
	// 	z-index: 1;
	// 	border-right: 1px solid #d1d8dd;
	// }
	:is(.profit-and-loss-statement,
	 .profit-and-loss-statement,
	  .sales-target-analysis,
	   .stock-balance,
	    .trial-balance,
		 .itemwise-sales-register,
		 .my-pending-documents) .dt-scrollable .dt-row .dt-cell--col-1{
		position: sticky;
		left: 0px;
		z-index: 1;
		border-right: 1px solid #d1d8dd;
	}
	.my-pending-documents .dt-cell--header .dt-cell__content{
		white-space:inherit !important;
		overflow: unset !important;
		display: flex;
		align-items: center;
	}
	.my-pending-documents .dt-cell--header, .my-pending-documents .dt-row.dt-row-header{
		height: 65px !important;
	}
	.stock-ledger .dt-scrollable .dt-row .dt-cell--col-2,
	.general-ledger .dt-scrollable .dt-row .dt-cell--col-2{
		position: sticky;
		left: 0px;
		z-index: 1;
		border-right: 1px solid #d1d8dd;
	} 
	.employee-detail-report .dt-scrollable .dt-row .dt-cell--col-1{
		position: sticky;
		left: 0px;
		z-index: 1;
		border-right: 1px solid #d1d8dd;
	}
	.sale-production-dispatch-report .dt-scrollable .dt-row .dt-cell--col-1{
		position: sticky;
		left: 0px;
		z-index: 1;
		border-right: 1px solid #d1d8dd;
	} 
	
	}
	.shipping-efficiency-report-summary .dt-cell--header .dt-cell__content{
		white-space: normal;
		text-align: center;
	}
	.shipping-efficiency-report-summary .dt-header .dt-row{
		height: 46px;
	}
	.shipping-efficiency-report-summary .dt-header .dt-cell{
		height: 46px;
	}
	.layout-footer span:first-child{
		width: 60% !important;
	}
	.layout-footer span:last-child{
		width: 40% !important;
	}
	@media screen and (max-width:767px) {
		.layout-footer span:first-child{
			width: 100% !important;
			display: block;
		}
		.layout-footer span:last-child{
			width: 100% !important;
			display: block;
		}
	}
	@media screen and (max-width:575px) {
		.page-form .form-group{
			width: 100%;
		}
	}
.tag-groupby-area {
	padding: 10px 150px 10px 10px;
	position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
}

.my-pending-documents .dt-scrollable{
	height: 220px !important;
}
