{% extends "templates/web.html" %}

{% block style %}
<style>
	{% include "templates/includes/login/login.css" %}
</style>
{% endblock %}

{% block page_content %}
<!-- {{ for_test }} -->
	<noscript>
		<div class="text-center my-5">
			<h4>{{ _("Javascript is disabled on your browser") }}</h4>
			<p class="text-muted">{{ _("You need to enable JavaScript for your app to work.") }}<br>{{ _("To enable it follow the instructions in the following link: {0}").format("<a href='https://enable-javascript.com/'>enable-javascript.com</a></p>") }}
		</div>
	</noscript>
	
<section class='for-login'>
	<!-- <div class="login-content page-card" style="margin-top: 30px;"> -->
		<form class="form-signin form-login" role="form">
		<section class="login-section">
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col-md-6 col-lg-6 col-xl-5 d-none d-lg-block pr-lg-0">
						<img class="img-fluid erp-img" src="/assets/gerp_theme/images/erp.png" alt="erp">
					</div>
					<div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 pl-lg-0">
						<div class="card">
							<div class="card-body">
								<form>
									<div class="content-login">

										<div class="gourmet-logo">
											<div class="gourmet-pakistan">
												<img src="/assets/gerp_theme/images/logo.png" alt="logo">
											</div>
										</div>
							<div class="page-card-head">
								<span class="indicator blue" data-text="{{ _('Login') }}"></span>
							</div>
							<!-- <h2>{{ _('Login') }}</h2> -->
                           <div class="form-group">
                              <input
							  id="login_email" type="text" class="form-control" placeholder="{% if login_name_placeholder %}{{ login_name_placeholder  }}{% else %}{{ _('Email Address') }}{% endif %}" required autofocus>
                              <span><img src="/assets/gerp_theme/images/user.png" alt="user"></span>
                           </div>
                           <div class="form-group">
                              <input type="password" 
							  id="login_password" class="form-control" placeholder="{{ _('Password') }}" required>
                              <span><img src="/assets/gerp_theme/images/lock.png" alt="lock"></span>
							  <span toggle="#login_password" class="fa fa-fw fa-eye toggle-password text-muted"></span>
                           </div>
						   <div class="text-center">
						
							   <p>
								{% if ldap_settings and ldap_settings.enabled %}
								   <button class="text-left btn btn-primary btn-login btn-ldap-login">
									   {{ _("Login with LDAP") }}</button>
									   {% endif %}
								<button type="submit" class="text-left btn btn-warning">{{ _("Login") }}</button>
						</div>
						</div>
						   <div class="bottom-images-container">

						   
						   <div class="bottom-images">
							<div class="image-section">
								<img id="integrity-image"src="/assets/gerp_theme/images/Integrity-G2.png" alt="Integrity">
							</div>
							<div class="image-section">
								<img id="responsibility-image"src="/assets/gerp_theme/images/Responsibility-G2.png" alt="Responsibility">
							</div>
							<div class="image-section">
								<img id="teamwork-image"src="/assets/gerp_theme/images/Teamwork-G2.png" alt="Teamwork">
							</div>
						   </div>
						</div>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="col-md-12 text-center">
                  <img class="img-fluid powerd" src="/assets/gerp_theme/images/powerd.png" alt="erp">   
               </div>
            </div>
         </section>
		</form>
		<!-- <form class="form-signin form-login" role="form">
			<div class="page-card-head">
				<span class="indicator blue" data-text="{{ _('Login') }}"></span>
			</div>

			<input type="text" id="login_email"
				class="form-control"
				placeholder="{% if login_name_placeholder %}{{ login_name_placeholder  }}{% else %}{{ _('Email Address') }}{% endif %}"
				required autofocus>

			<div class="password-field" style="position: relative;">
				<input type="password" id="login_password"
						class="form-control" placeholder="{{ _('Password') }}" required>

				<span toggle="#login_password" class="fa fa-fw fa-eye toggle-password text-muted"></span>
			</div>

			<button class="btn btn-sm btn-primary btn-block btn-login" type="submit">
				{{ _("Login") }}</button>

			{% if ldap_settings and ldap_settings.enabled %}
			<button class="btn btn-sm btn-default btn-block btn-login btn-ldap-login">
				{{ _("Login with LDAP") }}</button>
			{% endif %}
		</form> -->
	<!-- </div> -->
	<div class='form-footer'>

			<div class='social-logins'>
			{%- if social_login -%}
				<h6>{{ _("Or login with") }}</h6>

				<p class="text-center" style="margin-top: 15px">
				{% for provider in provider_logins %}
					<a href="{{ provider.auth_url }}"
						class="btn btn-default btn-sm btn-social btn-{{ provider.name }}">
							{{ provider.icon }} {{ provider.provider_name }}</a>
				{% endfor %}
				</p>
			{%- endif -%}
			</div>

	{%- if not disable_signup -%}
		<p class="text-center sign-up-message">
			<a href="#signup" style="margin-top: -2px;">{{ _("Don't have an account? Sign up") }}</a>
		</p>
	{%- endif -%}
	<p class="text-center forgot-password-message">
		<a href="#forgot">{{ _("Forgot Password?") }}</a></p>
	</div>
</section>
<section class='for-signup {{ "signup-disabled" if disable_signup else "" }}'>
	<div class="login-content page-card" style="margin-top: 20px;">
	{%- if not disable_signup -%}
		<form class="form-signin form-signup hide" role="form">
			<div class="page-card-head">
				<span class="indicator blue" data-text="{{ _('Sign Up') }}"></span>
			</div>
			<input type="text" id="signup_fullname"
				class="form-control" placeholder="{{ _('Full Name') }}" required autofocus>
			<input type="email" id="signup_email"
				class="form-control" placeholder="{{ _('Email Address') }}" required>
			<button class="btn btn-sm btn-primary btn-block btn-signup" type="submit">{{ _("Sign up") }}</button>
		</form>
	{%- else -%}
		<div class='page-card-head'>
			<span class='indicator darkgrey'>{{_("Signup Disabled")}}</span>
		</div>
		<p>{{_("Signups have been disabled for this website.")}}</p>
		<div><a href='/' class='btn btn-primary btn-sm'>{{ _("Home") }}</a></div>
	{%- endif -%}
	</div>
	<div class='form-footer'>
		<a href="#login" class="blue">{{ _("Have an account? Login") }}</a>
	</div>

</section>

<section class='for-forgot'>
	<div class="login-content page-card" style="margin-top: 20px;">
	<form class="form-signin form-forgot hide" role="form">
		<div class="page-card-head">
			<span class="indicator blue" data-text="{{ _('Forgot Password') }}"></span></div>
		<input type="email" id="forgot_email"
			class="form-control" placeholder="{{ _('Email Address') }}" required autofocus>
		<button class="btn btn-sm btn-primary btn-block btn-forgot" type="submit">{{ _("Reset Password") }}</button>
	</form>
	</div>
	<div class='form-footer'>
		<a href="#login">{{ _("Back to Login") }}</a>
	</div>
</section>
{% endblock %}

{% block script %}
	<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}