
{% extends "templates/web.html" %}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>nrp login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
    
</head>

{% block page_content %}
<body>
  <section class="main-container">
    <div class="main">
      <div class="big-circle">
        <div class="icon-block">
          <img src="/assets/gerp_theme/images/1production.png" alt="web design icon" />
          <h3>Production</h3>
        </div>
        <div class="icon-block">
          <img src="/assets/gerp_theme/images/1mrp-light.png" alt="web design icon" />
          <h3>MRP</h3>
        </div>
        <div class="icon-block">
          <img src="/assets/gerp_theme/images/1hrm.png" alt="web design icon" />
          <h3>Human Resources</h3>
        </div>
        <div class="icon-block">
          <img src="/assets/gerp_theme/images/1financial_services.png" alt="web design icon" />
          <h3>Financial Services</h3>
        </div>
        <div class="icon-block">
          <img src="/assets/gerp_theme/images/1crm.png" alt="web design icon" />
          <h3>CRM</h3>
        </div>
        <div class="icon-block">
          <img src="/assets/gerp_theme/images/1QA.png" alt="web design icon" />
          <h3>Quality Control</h3>
        </div>
        <div class="icon-block">
          <img src="/assets/gerp_theme/images/1inventory.png" alt="web design icon" />
          <h3>Inventory</h3>
        </div>
        <div class="icon-block">
          <img src="/assets/gerp_theme/images/1planning.png" alt="web design icon" />
          <h3>Planning</h3>
        </div>
      </div>
    </div>
  </section>
  <aside class="sideBar"></aside>
  <div class="loginBox">
    <div class="loginTitle"><img src="/assets/gerp_theme/images/1Gicoh-logo.png" width="60px" alt=""> <span>2</br>
        ERP</span></div>
    <!-- <div class="bigBaloon"></div> -->
    <div class="loginWrapper">
      <div class="login">
        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
        <div class="text-center">
          <img src="/assets/gerp_theme/images/1logo-blue.png" alt="" />
        </div>

        
      
    		<form class="form-signin form-login" role="form" autocomplete="off">
          <div class="page-card-head">
            <span class="border placeholder" data-text="{{ _('Login') }}"></span>
          </div>
          
          <!-- <input type="text" id="login_email"
            class="custom-field three mt-100px border placeholder"
            placeholder="{% if login_name_placeholder %}{{ login_name_placeholder  }}{% else %}{{ _('Email Address') }}{% endif %}"
            required autofocus> -->
            <label class="custom-field three mt-100px">
              <input type="text" placeholder="&nbsp;" autocomplete="skahfhacbcjabd" id="login_email" >
              <span class="placeholder">{{ _('Email Address') }}</span>
              <span class="border"></span>
            </label>
            <label class="custom-field three mt-20px" >
              <input type="password" placeholder="&nbsp;" autocomplete="new-password" id="login_password" />
              <span class="placeholder">{{ _('Password') }}</span>
              <span class="border"></span>
            </label>
          <!-- <div class="custom-field three mt-20px border placeholder" style="position: relative;">
            <input type="password" id="login_password"
                class="form-control" placeholder="{{ _('Password') }}" required>
           
          </div> -->
          <div class="text-center mt-40px">
          {% if ldap_settings and ldap_settings.enabled %}
          <button class="ldapBtn btn-ldap-login">
            {{ _("Login LDAP") }}</button>
          {% endif %}
          <button class="text-center mt-40px " type="submit">
            {{ _("Login") }}</button>
          </div>
        </form> 
        <p class="poweredBy">
          Powered By <a href="https://gicoh.com/">Gicoh</a>
        </p>
      </div>
    </div>
  </div>
</body>
{% endblock %}
{% block head_include %}
    <link type="text/css" rel="stylesheet" href="/assets/gerp_theme/css/login.css">
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.3.min.js"
  integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

{% block script %}
	<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}
{% block sidebar %}{% endblock %}



